@import './../../../assets/scss/color.scss';

.brand {
  padding: 14px 16px;
  background: $white;
  width: 100%;
  position: fixed;
  img {
    width: 120px;
  }
}

.text-ads {
  display: inline-block;
  margin: 40px 16px 28px;
  text-align: center;
  color: $white;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.24px;
}

.bg-illustration,
.bg-illustration-carousel {
  background-image: url('./../../../assets/img/bg-illustration.svg');
  background-repeat: no-repeat;
  background-color: $primary-600;
  background-position: right 21% top -60%;
  width: 100%;
  padding-top: 70px;
}

.bg-illustration {
  text-align: center;
}

.bg-illustration-carousel {
  display: none;
}

.after-register-content {
  margin: 16px;
  padding: 28px 16px;
  background: $white;
  border-radius: 8px;
}

.content-card {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }

  &-title {
    color: $title;
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &-subtitle {
    color: $subtitle;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
  }
}

.container-line {
  width: 50%;
  margin: 0 auto;
}

.line {
  width: 0;
  height: 28px;
  margin: 0 auto;
  border: 3px dashed $line;
  margin-bottom: 10px;
}

.primary-button{
  margin-top: 20px;
}

.footer {
  color: $white;
  text-align: center;
  padding-bottom: 54px;
}

@media screen and (min-width:1024px) {
  .section-after-register {
    min-height: 100vh;
    display: flex;
  }

  .bg-illustration-carousel {
    display: initial;
    background-size: cover;
    background-position: left 24% center;
    width: 40%;
  }

  .bg-illustration-carousel,
  .after-register {
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .after-register {
    width: 60%;
  }
  
  .brand {
    padding-left: 24px;
    position: initial;
  }

  .bg-illustration {
    background: $white;
    padding-top: 0;
  }

  .after-register-content {
    margin: 16px;
    padding: 28px 16px;
    background: $white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .footer {
    color: $primary-900;
    text-align: left;
    margin-left: 32px;
    // padding-top: 40px;
    padding-bottom: 0;
  }
}

@media screen and (min-width:1280px) {
  .after-register-content {
    position: relative;
    padding: 26px 20px;
    margin-bottom: 420px;
  }

  .content-card {
    margin: 0;
    flex-direction: row;
    position: absolute;
    text-align: left;

    img{
      margin-right: 20px;
      width: 80px;
      height: 80px;
    }
  }

  .card1 {
    top: 300%;
    left: 10%;
  }

  .card2 {
    top: 540%;
    left: 36%;
  }

  .container-line {
    position: absolute;
    width: initial;
    margin: initial;
  }

  .line0 {
    top: 220%;
    left: 12%;
  }

  .line1 {
    top: 470%;
    left: 26%;
  }
  
  .line {
    width: 80px;
    height: 80px;
    border: 3px dashed $line;
    border-top: 0px;
    border-right: 0px;
  }

  .button {
    position: absolute;
    top: 740%;
    width: 100%;
  }
}

@media screen and (min-width:1920px) {

  .brand {
    padding-left: 32px;
    img{
      width: 200px;
    }
  }

  .after-register-content {
    position: relative;
    padding: 56px 80px;
    margin-bottom: 757px;
  }

  .content-card {
    margin: 0;
    flex-direction: row;
    position: absolute;
    text-align: left;

    img{
      margin-right: 20px;
      width: 120px;
      height: 120px;
    }

    &-title {
      font-size: 28px;
      line-height: 40px;
    }
  
    &-subtitle {
      font-size: 22px;
      line-height: 30px;
    }
  }

  .card1 {
    top: 200%;
    left: 16%;
  }

  .card2 {
    top: 336%;
    left: 36%;
  }

  .container-line {
    position: absolute;
    width: initial;
    margin: initial;
  }
  
  .line0 {
    top: 170%;
    left: 14%;
  }

  .line1 {
    top: 320%;
    left: 27%;
  }
  
  .line {
    width: 80px;
    height: 80px;
    border: 3px dashed $line;
    border-top: 0px;
    border-right: 0px;
  }

  .button {
    position: absolute;
    top: 440%;
    width: 100%;
  }

  .footer {
    padding-top: 90px;
  }
}

@media screen and (min-width:1921px) {
  .after-register-content {
    margin-bottom: 676px;
  }

  .after-register {
    padding-left: 100px;
    padding-right: 100px;
  }

  .card1 {
    top: 200%;
    left: 14%;
  }
}

@media screen and (min-width:2560px) {
  .card1 {
    top: 200%;
    left: 12%;
  }

  .card2 {
    top: 336%;
    left: 34%;
  }
}
