<p-card class="card-profile">
  <div class="bg-profile"></div>
  <div class="profile-picture">
    <img src="./../../../../../assets/img/Profile Picture.png" alt="profile-picture">
  </div>
  <div class="profile-text">
    <p class="name">john doe</p>
    <div class="company">
      <img src="./../../../../../assets/img/icon-building.svg" alt="company-image">
      <p class="company-name">Google Indonesia</p>
    </div>
  </div>
  <p-divider></p-divider>
  <div class="description-profile">
    <p class="key">Employee ID</p>
    <p class="value">PT - GOO34</p>
  </div>
  <div class="description-profile">
    <p class="key">Position</p>
    <p class="value">Senior Front-End Developer</p>
  </div>
  <div class="description-profile">
    <p class="key">Join Date</p>
    <p class="value">23 Feb 2018</p>
  </div>
  <div class="description-profile">
    <p class="key">Years of Service</p>
    <p class="value">4 Years 5 Months 2 Days</p>
  </div>
</p-card>