$primary-50: #E2E4EB;
$primary-200: #888FB0;
$primary-300: #5B6591;
$primary-600: #0796E5;
$primary-900: #000037;
$title:#12204D;
$subtitle:#6E7DA5;
$line:#2B427C;
$primary-button: #EC4B5A;
$white: #ffffff;
$black: #000000;
$gray: #F9F9F9;
$gray-label: #808D93;
$dark-text:#212121;
$red-bg: #FF2442;
$green-bg: #09A262;
$green-badge: #09A2621F;
$active-link: #F4F6FF;
$inactive-button-border: #D4D4D4;
$inactive-button-text: #212121;
$label-gray:#809FB8;
$green-text:#43A047;
$green-bg-trans:#43A0471A;
$red-text:#E53935;
$red-bg-trans:#E539351A;
$background-table: #EAEAEA;