<p-card class="card-attendance">
  <div class="header">
    <p class="title">Attendance Summary</p>
  </div>
  <div class="container-content">
    <p-chart type="bar" [data]="data" [options]="basicOptions" height="300px"></p-chart>
    <div class="grid cards">
      <div class="col-6 lg:col-3">
        <p-card class="blue-line working">
          <div class="label">
            <p>Total Working Days</p>
            <img src="./../../../../../assets/img/Info.svg" alt="Info">
          </div>
          <div class="content">237 Day(s)</div>
        </p-card>
      </div>
      <div class="col-6 lg:col-3">
        <p-card class="blue-line working">
          <div class="label">
            <p>Actual Working Hours</p>
            <img src="./../../../../../assets/img/Info.svg" alt="Info">
          </div>
          <div class="content">2126 hr 14 min</div>
        </p-card>
      </div>
      <div class="col-6 lg:col-3">
        <p-card class="blue-line working">
          <div class="label">
            <p>Total Working Hours</p>
            <img src="./../../../../../assets/img/Info.svg" alt="Info">
          </div>
          <div class="content">2930 hr 26 min</div>
        </p-card>
      </div>
      <div class="col-6 lg:col-3">
        <p-card class="red-line working">
          <div class="label">
            <p>Total Late Coming</p>
            <img src="./../../../../../assets/img/Info.svg" alt="Info">
          </div>
          <div class="content">24</div>
        </p-card>
      </div>
    </div>
  </div>
</p-card>