<p-card class="card-today-attend">
  <div class="header">
    <p class="title">Today’s Attendance</p>
  </div>
  <p-divider></p-divider>
  <div class="container-content grid">
    <div class="col-6">
      <p-card class="clock-in today-attend">
        <div class="label">Clock In</div>
        <div class="content">07:07</div>
      </p-card>
    </div>
    <div class="col-6">
      <p-card class="clock-out today-attend">
        <div class="label">Clock Out</div>
        <div class="content">18:00</div>
      </p-card>
    </div>
  </div>
</p-card>