@import './../../../../../assets/scss/color.scss';

::ng-deep.today-attend .p-card .p-card-body {
  padding: 16px;
}

::ng-deep.p-card .p-card-content {
  padding: 0;
}

::ng-deep.p-divider.p-divider-horizontal:before {
  border-top: 1px $primary-50;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  
  .title {
    font-weight: bold;
  }
}

.today-attend {
  position: relative;
}

.today-attend::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.clock-in.today-attend::before {
  background: $green-bg;
}
.clock-out.today-attend::before {
  background: $red-bg;
}

.label {
  font-size: 12px;
  color: $gray-label;
}

.content {
  font-size: 16px;
  color: $dark-text;
  font-weight: bold;
}


@media screen and (min-width:768px){
  ::ng-deep.today-attend .p-card .p-card-body {
    padding: 32px;
  }

  .header {    
    .title {
      font-size: 24px;
    }
  }

  .label {
    font-size: 16px;
    margin-bottom: 12px;
  }
  
  .content {
    font-size: 24px;
  }
}