@import './../../../../../assets/scss/color.scss';

::ng-deep.p-card .p-card-body {
  padding: 16px;
}

::ng-deep.p-card .p-card-content {
  padding: 0;
}
.header {
  font-size: 16px;
  line-height: 20px;
  
  .title {
    font-weight: bold;
  }
}

.container-content {
  margin-top: 16px;
}

@media screen and (min-width:768px){
  ::ng-deep.p-card .p-card-body {
    padding: 24px;
  }
}

@media screen and (min-width:1920px){
  .header {    
    .title {
      font-size: 24px;
    }
  }

  ::ng-deep p-chart.overall-task-chart > div {
    height: 446px !important;
  }

}