<p-card class="card-leave">
  <div class="header">
    <p class="title">Leave Recap</p>
  </div>
  <div class="container-content">
    <p-table [value]="data" sortMode="multiple" [scrollable]="true">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="code" style="min-width:200px" pFrozenColumn>Leave Code <p-sortIcon field="code"></p-sortIcon></th>
          <th pSortableColumn="requestedDate" style="min-width:200px">Requested On <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="type" style="min-width:200px">Leave Type <p-sortIcon field="category"></p-sortIcon></th>
          <th pSortableColumn="startDate" style="min-width:200px">Start Date <p-sortIcon field="quantity"></p-sortIcon></th>
          <th pSortableColumn="endDate" style="min-width:200px">End Date <p-sortIcon field="price"></p-sortIcon></th>
          <th pSortableColumn="duration" style="min-width:150px">Duration <p-sortIcon field="price"></p-sortIcon></th>
          <th pSortableColumn="day" style="min-width:100px">Day <p-sortIcon field="price"></p-sortIcon></th>
          <th pSortableColumn="category" style="min-width:200px">Leave Category <p-sortIcon field="price"></p-sortIcon></th>
          <th pSortableColumn="status" style="min-width:120px">Status <p-sortIcon field="price"></p-sortIcon></th>
          <th pSortableColumn="reason" style="min-width:200px">Reason <p-sortIcon field="price"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td pFrozenColumn>{{product.code}}</td>
          <td>{{product.requestDate | date:'E, d MMM y'}}</td>
          <td>{{product.type}}</td>
          <td>{{product.startDate | date:'E, d MMM y'}}</td>
          <td>{{product.endDate | date:'E, d MMM y'}}</td>
          <td>{{product.duration}} {{'day(s)'}}</td>
          <td>{{product.day}}</td>
          <td>{{product.category}}</td>
          <td><span [ngClass]="{'status-green' : product.status === 'approve'}">{{product.status | titlecase}}</span></td>
          <td>{{product.reason}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>